body {
    background-color: #fff;
  }

#header{
  font-family: 'Times New Roman', Times, serif;
  padding-top: 0px;
  padding-bottom: 15px;
  color:grey;
  font-style: italic;
}

.navbar-brand{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0.808);
  padding: 10px;
  width: 100px;
  height: 50px;
  border-radius: 15px;
}

.navbar{
  border-style: inset;
  border-width: 5px;
}

.top-content{
  font-family: 'Times New Roman', Times, serif;
  width: 98%;
  height:100%;
  margin: 10px;
  border: 3px dashed black;
  padding: 25px;
}
.map-content{
  font-family: 'Times New Roman', Times, serif;
  width: 98%;
  height:100%;
  margin: 5px;
  border: 3px dashed rgb(233, 22, 22);
  padding: 25px;
}
.source-note{
  font-size: small;
  color:grey ;
}

.project-intro{
  position: relative;
  width: 1200px;
  height:250px;
  margin: 20px;
  border: 3px;
  padding: 20px;
  background-color: rgb(214, 214, 214);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: oblique;
  font-size: large;
  border-style: inset;
}


.description{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;
}
.plotly-chart{
  width: 60%;
  height:100%;
  margin: 6px;
  border: 3px dashed rgb(80, 79, 79);
  padding: 25px;
}
.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top-style: solid; 
  border-top-width: 4px; 
  border-top-color: teal;
  background-color: rgba(7, 7, 7, 0.342);
  padding-top: 5px;
  color: white;
  text-align: center;
}
.map_display {
  height: 700px;
}
html {
  height: 100%;
}


  /* set map, body, and html to 100% of the screen size */
#map {
  height: 100%;
}
/* .map_display {
  height: 750px;
}
h1 {
  text-align: center;
}
*/