body {
    background-color: #fff;
  }
<<<<<<< HEAD:Helen(xier)_Z_group_project2/assets/css/main.css
#header{
  font-family: 'Times New Roman', Times, serif;
  padding-top: 0px;
  padding-bottom: 15px;
  color:grey;
  font-style: italic;
}

.navbar-brand{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0.808);
  padding: 10px;
  width: 100px;
  height: 50px;
  border-radius: 15px;
}

.navbar{
  border-style: inset;
  border-width: 5px;
}

.top-content{
  font-family: 'Times New Roman', Times, serif;
  width: 98%;
  height:100%;
  margin: 10px;
  border: 3px dashed black;
  padding: 25px;
}
.main-content{
  font-family: 'Times New Roman', Times, serif;
  width: 98%;
  height:100%;
  margin: 5px;
  border: 3px dashed rgb(233, 22, 22);
  padding: 25px;
}

.description{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;


}
.footer {
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top-style: solid; 
  border-top-width: 4px; 
  border-top-color: teal;
  background-color: rgba(20, 20, 20, 0.301);
  padding-top: 5px;
  color: white;
=======

  /* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}
.map_display {
  height: 750px;
}
h1 {
>>>>>>> 7d1667706171e29e950267639e0da79e58e477e9:Helen(xier)_Z_group_project2/css/main.css
  text-align: center;
}